/*? GLOBAL ROOT RULES */
:root {
  --blue-color: #2e45cc;
  --green-color: #04df6c;
  --black-color: #3d3a38;
}

/*! RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
}

input {
  background-color: transparent;
  border: none;
}

/*? UTILITIES */
.debug,
.debug > * {
  border: 3px dashed red;
  padding: 6px;
  min-height: 30px;
}

/*? GENERAL RULES */
.font-header {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: var(--black-color);
}

.font-body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.24;
  text-align: center;
  color: var(--black-color);
}

.header-1-5 {
  font-size: 1.5rem;
}

/*? MEDIA QUERY RULES */
@media (min-width: 768px) {
  /* HEADER MAIN CONTENT */
  .rubber-duck-header .rubber-duck {
    padding: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rubber-duck-header .rubber-duck .font-header {
    font-weight: 400;
    font-size: 5rem;
    line-height: 4rem;
    padding: 0;
  }

  .rubber-duck-header .rubber-duck .font-body {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .rubber-duck-header .rubber-duck button {
    font-size: 1rem;
  }

  .rubber-duck-header .rubber-duck button:hover {
    background-color: var(--black-color);
    color: white;
  }

  /* DUCK INFOS */
  .duck-infos-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .duck-infos-img img {
    width: 40%;
  }

  /* DUCK LIST */
  .collection-list .duck-list img {
    width: 100%;
  }

  .collection-list .font-header {
    font-size: 2rem;
  }

  /* FAQs */
  .accordion-item .accordion-button {
    font-size: 1rem;
  }

  .accordion-item .accordion-body {
    font-size: 0.8rem;
    padding: 0.8rem 1.2rem;
  }

  /* GUARANTY */
  .guaranty {
    width: 800px;
    margin: 0 auto;
  }

  .middle-item {
    border-right: 1px lightgrey solid;
  }

  /* NEWSLETTER */
  .newsletter-content {
    width: 430px;
    margin: 0 auto;
  }

  .newsletter-box .input-button-box {
    padding: 0;
  }

  .newsletter-box .newsletter-content .font-header {
    padding: 0;
  }
}

/* HEADER */
.main-content {
  margin-top: 3rem;
}

/* NAVBAR */
.navbar-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:hover {
  color: var(--blue-color);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* HEADER MAIN CONTENT */
.rubber-duck {
  padding: 1.7rem;
  background-image: url(../imgs/banner-bg.png);
  text-align: center;
  background-size: cover;
}

.rubber-duck .font-header {
  font-size: 2.2rem;
  line-height: 2.4rem;
  padding: 0.5rem 2rem;
}

.rubber-duck .font-body {
  font-size: 0.8rem;
}
.rubber-duck button {
  background-color: transparent;
  color: var(--black-color);
  border: 1px var(--black-color) solid;
  font-size: 0.7rem;
  padding: 0.5rem 1.5rem;
}

/* DUCK INFOS */
.duck-infos {
  margin: 0 auto;
  padding: 3rem 0.5rem;
}

.infos-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 30rem;
}

.infos .font-header {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.infos .font-body {
  font-size: 0.8rem;
}

.duck-img {
  width: 100%;
}

/* REVIEWS */
.reviews {
  margin: 0 0 5rem 0;
}

/* DUCK LIST */
.collection-list {
  background-color: #f8f8f8;
  padding: 0.5rem;
}

.collection-body {
  font-size: 0.6rem;
}

.collection-list .row {
  justify-content: space-evenly;
}

.duck-list img {
  width: 90%;
}

.rating {
  display: flex;
  align-items: center;
  margin: 7px 0;
}

.star {
  width: 0.5rem;
  height: 0.5rem;
  fill: goldenrod;
}

.duck-name,
.duck-price {
  display: block;
  text-align: left;
  font-weight: 600;
  font-size: 0.8rem;
}

.duck-price {
  margin: 5px 0;
  color: var(--green-color);
}

/* FAQs */
.faqs-section {
  margin: 1.5rem 0.1rem;
}

.accordion-button,
.accordion-body {
  text-align: left;
}

.accordion-button {
  font-size: 0.8rem;
  padding: 7px 0;
}

.accordion-body {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.accordion-item {
  border: none;
  margin: 1rem 0;
}

.accordion-button:not(.collapsed) {
  color: var(--black-color);
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px rgba(128, 128, 128, 0.733) solid;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  content: "\002B";
  background-image: none;
  text-align: center;
}

.accordion-button:not(.collapsed)::after {
  content: "\2212";
  background-image: none;
  transform: none;
  text-align: center;
}

/* GUARANTY */
.guaranty {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.guaranty-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guaranty-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--blue-color);
  margin: 0.5rem 0;
}

.guaranty .font-header {
  margin: 0.1rem 0;
}

.guaranty .font-body {
  font-size: 0.7rem;
}

.middle-item {
  border-left: 1px lightgrey solid;
}

/* NEWSLETTER */
.newsletter-box {
  background-color: #f8f8f8;
  padding: 0.5rem 1rem;
}

.newsletter-box .font-header {
  font-weight: 700;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.7rem;
}

.newsletter-box .font-body {
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.input-button-box {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.newsletter-input {
  border-bottom: 1px lightgray solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  font-size: 0.9rem;
}

.newsletter-input button {
  border: none;
}

.send-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: var(--green-color);
}

/* SOCIAL */

.social {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-button {
  border: 1px lightgrey solid;
  border-radius: 50%;
  background-color: transparent;
}

.social-item {
  padding: 0.5rem;
  width: 2.3rem;
  height: 2.3rem;
  color: var(--green-color);
}

/* SIGN */
.sign-footer {
  margin-top: 0.8rem;
}

.sign-footer .font-body {
  display: block;
  font-size: 0.8rem;
}
