/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILITIES */

.debug,
.debug > * {
  border: 3px dashed red;
  padding: 6px;
  min-height: 30px;
}

/* BOOTSTRAP DEBUG */

/* UTILITIES */

[class^="container"] {
  border: 1px dashed black;
  background-color: lightblue;
  /* min-height: 80vh; */
}

[class^="row"] {
  border: 1px dashed red;
}

[class^="col"] {
  /* height: 100px; */
  background-color: #f1d2e7;
  border: 1px solid #d0a8eb;
}
