/*? GLOBAL ROOT RULES */
:root {
  --blue-color: #2e45cc;
  --green-color: #04df6c;
  --black-color: #3d3a38;
}

/*! RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
}

/*? UTILITIES */
.debug,
.debug > * {
  border: 3px dashed red;
  padding: 6px;
  min-height: 30px;
}

/*? GENERAL RULES */
.font-header {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: var(--black-color);
}

.font-body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.24;
  text-align: center;
  color: var(--black-color);
}

.header-1-5 {
  font-size: 1.5rem;
}

/*? MEDIA QUERY RULES */
@media (min-width: 768px) {
  .rubber-duck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .duck-infos-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .duck-infos-img img {
    width: 60%;
  }
}

/* HEADER */
.main-content {
  margin-top: 3rem;
}

/* NAVBAR */
.navbar-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:hover {
  color: var(--blue-color);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* HEADER MAIN CONTENT */
.rubber-duck {
  padding: 1.7rem;
  background-image: url(../imgs/banner-bg.png);
  text-align: center;
  background-size: cover;
}

.rubber-duck .font-header {
  font-size: 2.2rem;
  line-height: 2.4rem;
  padding: 0.5rem 2rem;
}

.rubber-duck .font-body {
  font-size: 0.8rem;
}
.rubber-duck > button {
  background-color: transparent;
  color: var(--black-color);
  border: 1px var(--black-color) solid;
  font-size: 0.7rem;
  padding: 0.5rem 1.5rem;
}

/* DUCK INFOS */
.duck-infos {
  margin: 0 auto;
  padding: 3rem 0.5rem;
}

.infos-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.infos .font-header {
  font-size: 1rem;
  line-height: 1rem;
}

.infos .font-body {
  font-size: 0.5rem;
}

.duck-img {
  width: 100%;
}

/* REVIEWS */
.reviews {
  margin: 0 0 5rem 0;
}

/* DUCK LIST */
.collection-list {
  background-color: #f8f8f8;
  padding: 0.5rem;
}

.collection-body {
  font-size: 0.5rem;
}

.duck-list img {
  width: 90%;
}

.rating {
  display: flex;
  align-items: center;
  margin: 7px 0;
}

.star {
  width: 0.5rem;
  height: 0.5rem;
  fill: goldenrod;
}

.duck-name,
.duck-price {
  display: block;
  text-align: left;
  font-weight: 600;
  font-size: 0.8rem;
}

.duck-price {
  margin: 5px 0;
  color: var(--green-color);
}
